header{
	background-color: #ffffff;
	height:70px;
	width:100%;
	border-bottom: 1px #cccccc solid;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}

 .logo{
	margin-left: 20px;
}
